## Awards
<ul class="list-group list-group-flush">
  {% for award in site.data.cv.awards %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 text-center">
          <span class="badge bg-primary">{{ award.date | date: "%Y.%m.%d" }}</span>
        </div>
        <div class="col-10">
          <h6><a href="{{ award.url }}">{{ award.title }}</a></h6>
          <h6>{{ award.awarder }}</h6>
          <p><em>{{ award.summary }}</em></p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

## Certificates
<ul class="list-group list-group-flush">
  {% for cert in site.data.cv.certificates %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 text-center">
          <span class="badge bg-success">{{ cert.date | date: "%Y.%m.%d" }}</span>
        </div>
        <div class="col-10">
          <h6><a href="{{ cert.url }}">{{ cert.title }}</a></h6>
          <h6>{{ cert.awarder }}</h6>
          <p><em>{{ cert.summary }}</em></p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

## Publications
<ul class="list-group list-group-flush">
  {% for pub in site.data.cv.publications %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 text-center">
          <span class="badge bg-warning">{{ pub.date | date: "%Y.%m.%d" }}</span>
        </div>
        <div class="col-10">
          <h6><a href="{{ pub.url }}">{{ pub.title }}</a></h6>
          <h6>{{ pub.awarder }}</h6>
          <p><em>{{ pub.summary }}</em></p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
