---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}

      {% if page.cv_pdf %}
        <a
          href="{{ page.cv_pdf | relative_url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
        >
          <i class="fa-solid fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>

    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">

      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title | slugify }}"></a>

        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">
            {{ entry.title }}
          </h3>

          <div class="card-body p-0">
            {% case entry.type %}
              {% when 'map' %}
                {% include cv/map.liquid %}
              {% when 'time_table' %}
                {% include cv/time_table.liquid %}
              {% when 'nested_list' %}
                {% include cv/nested_list.liquid %}
              {% when 'list' %}
                {% include cv/list.liquid %}
              {% when 'list_groups' %}
                {% include cv/list_groups.liquid %}
              {% else %}
                {{ entry.contents }}
            {% endcase %}
          </div>
        </div>
      {% endfor %}

    </div>
  </article>
</div>
